.language-span {
    
    cursor: pointer;
  }
  .language-span:hover {
    text-decoration: underline;
  }
  .nav-link{
    color: rgba(49, 47, 45, 0.49);
    font-size: 2rem;
  }
  .nav-link:hover{
    cursor: pointer;
    text-decoration: underline;
   
  }
  .logo{
    font-size: 3rem;
    letter-spacing: .05em;
  }
  .img-profile{
    width: 4rem;
    border-radius: 50%;
  }

.top-mobile-nav{
  border-bottom: solid 1px gray;
}
  .bottom-mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-top: solid 1px gray;
    z-index: 1;

  }
  .cart-icon{
    color:rgba(49, 47, 45, 0.49); 
    font-size: 2.5rem;
  }
  .picked-proucts-count{
    background-color: rgba(49, 47, 45, 0.49);
    color: white;
 font-size: 1rem;
    border-radius: 50%;
    padding: .5em;
    text-align: center;
    align-items: center;
  }