@if(!isMobileView){

<nav class="desktop-nav  bg-gray-200 py-3   ">
    <div class=" px-5 mx-auto flex justify-between ">
        <div class=" flex justify-between items-center">

            <a class=" logo mx-2 text-lg text-blue-800" [routerLink]="['/']">
                Div Store
            </a>
            @if(siteLang == 'ar'){

            <span class="mx-3 py-2 language-span" (click)="changeLanguage('en')">
                English
            </span>
            }
            @if(siteLang == 'en'){

            <span class="mx-3 py-2 language-span" (click)="changeLanguage('ar')">
                العربية
            </span>
            }


        </div>

        <div class=" text-center">


            <div class=" " id="">
                <ul class="flex items-center">
                    <li class="mx-3 nav-link" [routerLink]="['/' ,'products']">
                        {{'products' | translate}}
                    </li>
                    <li class="mx-3 nav-link" [routerLink]="['/','cart']">
                        {{'cart' | translate}}
                      ( {{pickedProducts}} ) 

                    </li>
                    <li (click)="logOut()" class="mx-3 primary-btn" [routerLink]="['/' ]">
                        {{'log-out' | translate}}
                    </li>



                    @if(user.name!=='')
                    {

                    <li class="mx-3 flex items-center">
                        <span class="text-blue-800">
                            {{user.name}}
                        </span>

                        <img class="img-profile mx-1" src="../../../../assets/imgs/blank prfile.jpg" alt="" srcset="" />

                    </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</nav>
}
@if(isMobileView){

<nav class="mobile-nav  ">
    <div class="top-mobile-nav px-5 py-5 mx-auto flex justify-between">
        <div class=" flex justify-between items-center">

            <a class=" logo mx-2 text-lg text-blue-800" [routerLink]="['/','products']">
                Div Store
            </a>
            @if(siteLang == 'ar'){

            <span class="mx-3 py-2 language-span" (click)="changeLanguage('en')">
                English
            </span>
            }
            @if(siteLang == 'en'){

            <span class="mx-3 py-2 language-span" (click)="changeLanguage('ar')">
                العربية
            </span>
            }


        </div>
        <div class=" text-center">


            <div class=" " id="">
                <ul class="flex items-center">
                    <li class="mx-3 nav-link" [routerLink]="['/' ,'products']">
                        {{'products' | translate}}
                    </li>
                    <li class="mx-3 nav-link" [routerLink]="['/','cart']">
                        {{'cart' | translate}}

                    </li>


                </ul>
            </div>
        </div>

    </div>



    <div class="bottom-mobile-nav px-5 py-2  ">
        <ul class="flex justify-between items-center">
            <li (click)="logOut()" class="mx-3 primary-btn" [routerLink]="['/' ]">
                {{'log-out' | translate}}
            </li>
            @if(user.name!=='')
            {

            <li class="mx-3 flex items-center">
                <span class="text-blue-800">
                    {{user.name}}
                </span>

                <img class="img-profile mx-1" src="../../../../assets/imgs/blank prfile.jpg" alt="" srcset="" />

            </li>
            }

        </ul>
    </div>
</nav>
}