/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'englishFont' ,'arabicFont';
}
html,
body {
    height: 100%;
    font-size: 10px;
}
$basic-color:#4763e0;
$danger-color:#e91160;

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(assets/material-icons/materials-icons-fonts.woff2) format('woff2');
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  
  }
@font-face {
    font-family: "englishFont";
    src: url("../.../../src/assets/Fonts/en/Mooli/Mooli-Regular.ttf") format('truetype');
  
  }
  @font-face {
    font-family: "arabicFont";
    src: url("../.../../src/assets/Fonts/ar/Tajawal/Tajawal-Medium.ttf") format('truetype');
  
  }
  .rtl {
    direction: rtl;
  }
  .ltr {
    direction: ltr;
  
  }
.primary-color{
    color: $basic-color;
}
  .danger-color{
    color: $danger-color;
  }
  .transparent-bg{
    background-color: rgba(211, 205, 205, 0.437);
    border-radius: 10px;
    transition: all 1s;
    overflow: hidden;
    &:hover{
      transform: scale(1.05);
      cursor: pointer;
    }
  }
.primary-btn{


    padding: 10px 20px;
    background-color: $basic-color;
    color:#ffffff;
    border: none;
    border-radius: 5px;
   
    transition: background-color 0.3s ease;
    &:hover{
        background-color:#ffffff ;
        color: $basic-color;
        border:solid 1px $basic-color;
        cursor: pointer !important ;
       
    }
    &:disabled{
        opacity: .5;
        pointer-events: none;
    }
}


.danger-btn{

    padding: 10px 20px;
    background-color: $danger-color;
    color:#ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover{
        background-color:#ffffff ;
        color: $danger-color;
        border:solid 1px $danger-color;
        cursor: pointer !important;
    }
}


